<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Game Suit</title>
</head>

<body>
    <header>
        <a href="#" id="kembali_nav">&lt;</a>
        <img src="./images/logo 1.png" alt="logo" id="logo">
        <p id="judul-game">rock papper scissors</p>
    </header>

    <div class="container">
        <div class="row text-center justify-content-between">
            <p class="col-md-5 Player">Player 1</p>
            <p class="col-md-5 player-comp">com </p>
        </div>

        <div class="row text-center justify-content-between">
            <p id="score1" class="col-md-5 score-player">0</p>
            <p id="score2" class="col-md-5 score-comp">0</p>
        </div>

        <div class="row text-center justify-content-between">
            <button class="btn col-md-5" id="batu-1" onclick="alert('batu-1 clicked')">
                <img src="./images/batu.png" alt="batu-1" class="resized-image">
            </button>

            <button class="btn col-md-5" id="batu-2" disabled>
                <img src="./images/batu.png" alt="batu-2" class="resized-image">
            </button>
        </div>

        <div class="row text-center justify-content-between">
            <button class="btn col-md-5" id="kertas-1">
                <img src="./images/kertas.png" alt="kertas-1" class="resized-image">
            </button>
            <p id="hasil" class="col-md">VS</p>
            <button class="btn col-md-5" id="kertas-2" disabled>
                <img src="./images/kertas.png" alt="kertas-2" class="resized-image">
            </button>
        </div>

        <div class="row text-center justify-content-between">
            <button class="btn col-md-5" id="gunting-1">
                <img src="./images/gunting.png" alt="gunting-1" class="resized-image">
            </button>
            <button class="btn col-md-5" id="gunting-2" disabled>
                <img src="./images/gunting.png" alt="gunting-2" class="resized-image">
            </button>
        </div>

        <div class="row text-center justify-content-center">
            <button class="btn col-md-5" id="refresh">
                <img src="./images/refresh.png" alt="refresh" class="resized-image">
            </button>  
        </div>
    </div>
    </div>




    <!-- Optional JavaScript; choose one of the two! -->
    <script>
        src = "./Javascript/script.js"
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>