body,
html {
  margin: 0;
  padding: 0;
  background-color: #9c835f;
  min-width: 600px;
}

header {
  display: flex;
  height: 72px;
}

#kembali_nav {
  text-decoration: none;
  font-weight: bold;
  font-size: 60px;
  color: #724c21;
  margin-left: 37px;
  margin-top: -10px;
  margin-right: 27px;
}

#logo {
  height: 90%;
  width: auto;
  margin-top: 10px;
}

#judul-game {
  text-transform: uppercase;
  font-size: 36px;
  color: #f9b23d;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}

.resize-image {
  width: 90px;
  height: 100px;
}

.Player,
.player-comp {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.score-player,
.score-comp {
  font-size: 30px;
  font-weight: bold;
}

#hasil {
  font-size: 70px;
  font-weight: bold;
  color: crimson;
}
